.button {
	position: relative;
	border: none;
	display: inline-block;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
			    inset 0px -5px 0px 0px rgba(0,0,0,0.3),
				inset 0px 2px 0px 0px rgba(255,255,255,0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	z-index:5;
	outline: none;
	/*cursor: pointer;
	margin: 36px;*/
}
.button:active {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
			    inset 0px -2px 0px 0px rgba(0,0,0,0.3),
				inset 0px 2px 0px 0px rgba(255,255,255,0);
	top: 3px;
	outline: none;
}

.button div {
	padding: 10px 20px 12px 20px;
	color: rgba(0,0,0,0.7);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}
.button:active div {
	padding-bottom: 9px;
}
.wood {
	background: url(http://subtlepatterns.com/patterns/wood_pattern.png);
}
.wood2 {
	background: url(http://subtlepatterns.com/patterns/tileable_wood_texture.png);
}

.shine {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.62)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
}